<nav id="user_actions">
  <% if user_signed_in? %>
    👋 <%= current_user&.name %>
    <%=
      link_to(
        "Log out",
        destroy_user_session_path(current_user),
        method: :delete
      )
    %>
  <% else %>
    Welcome, visitor!

    <%- if controller_name != 'sessions' %>
      <%= link_to "Log in", new_user_session_path %>
    <% end %>

    <%- if controller_name != 'registrations' %>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>
  <% end %>
</nav>
